.contact-channel {
  background-image: url("../../assets/contact.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0;
}
.py-5 {
  padding: 80px 0;
}

.container {
  max-width: 100%;
  width: 1300px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.text-center {
  text-align: center !important;
}

.heading {
  font-size: 42px;
  line-height: 46px;
  letter-spacing: 5px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 800;
  margin: 0 auto 40px;
  color: #fff;
}

.sub-heading {
  max-width: 750px;
  color: #fff;
  margin: 0 auto 40px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: 18px;
}

.contact-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  justify-content: center !important;
}

.col-7 {
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.contact-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  padding: 0;
}

.contact-item li {
  background-color: #fff;
  list-style: none;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

ul.contact-item li a {
  display: flex;
  padding: 20px 20px;
  font-size: 16px;
  color: #191a24;
  align-items: center;
  text-decoration: none;
}

.contact-icon {
  margin-right: 10px;
}

.whatsapp {
  color: #25d366;
  font-size: 25px;
  font-weight: 700;
}
.phone {
  color: #ff6b6b;
  font-size: 25px;
  font-weight: 700;
}
.messenger {
  color: #0084ff;
  font-size: 25px;
  font-weight: 700;
}
.email {
  color: #ff6b6b;
  font-size: 25px;
  font-weight: 700;
}
.instagram {
  color: #e1306c;
  font-size: 25px;
  font-weight: 700;
}
.hotline {
  color: #191a24;
  font-size: 25px;
  font-weight: 700;
}

@media (max-width: 767px) {
  .contact-item {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 768px) {
  .contact-item {
    grid-template-columns: repeat(2, 1fr);
  }
}
